version: '5.0.1'
services:
 backend:
  build: backend
  hostname: backend-host
  volumes:
   - ./backend:/app
  ports:
    - "5000:5000"
  networks:
    - docker_project-network

 frontend:
  build: frontend
  hostname: frontend-host
  volumes:
  - ./frontend:/app
  environment:
  - BACKEND_URL=http://backend-host:5000/api
  ports:
  - "3000:3000"
  links:
  - backend
  depends_on:
  - backend
  networks:
  - docker_project-network

networks:
  docker_project-network: {}
 

